<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>App Home</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/facebook.js"></script>
</head>
<body>
	

    <h1><div id="status"></h1>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<h2>Yo.</h2>
</div>
	<form id="updateStatus" method="post" action="/sendinfo">
		<!--Name field-->
		<h1>Enter your name:
		<div class="FBname"><input type="text" name="myName" size="20" class="form-control" placeholder="Name"></div></h1>
		<!--Status field-->
		<h1>Enter your status:
		<input type="text" name="myStatus" size="20" class="form-control" placeholder="Status"></h1>
		<!--Save button-->
		<input type="submit" name="redirect" value="Save" class="btn btn-primary btn-large" color:"">
	</form>

</body>
</html>
